ac:layout-section(ac:type="single")
  ac:layout-cell
    h1 数据统计
    p
      span 累计参赛人数 #{totalNum} 累计参赛人数 #{partcipantNum}
    ac:structured-macro(ac:macro-id="19fea689-29b1-479f-ab38-1b0dc058e006" ac:name="chart" ac:schema-version="1")
      ac:parameter(ac:name="stacked") true
      ac:parameter(ac:name="rangeAxisTickUnit") 4
      ac:parameter(ac:name="width") 600
      ac:parameter(ac:name="title") Match Scale
      ac:parameter(ac:name="type") bar
      ac:parameter(ac:name="height") 400
      ac:rich-text-body
        table.wrapped
          colgroup
            - var len = months.length;
            while len >= 0
              col
              - len--;
          tbody
            tr
              th 性别
              each month in monthsJson
                th #{month}
            tr
              td male
              each boyNum in boyNumList
                td #{boyNum}
            tr
              td female
              each girlNum in girlNumList
                td #{girlNum}
    p
    p
    ac:structured-macro(ac:macro-id="2015e136-88f7-492b-a9b1-0be85cd1e1b3" ac:name="chart" ac:schema-version="1")
      ac:parameter(ac:name="legend") false
      ac:parameter(ac:name="rangeAxisTickUnit") 4
      ac:parameter(ac:name="width") 600
      ac:parameter(ac:name="title") Participant Count Distribution
      ac:parameter(ac:name="type") bar
      ac:parameter(ac:name="height") 400
      ac:rich-text-body
        table.wrapped
          colgroup
            - var len = participantCount.length;
            while len >= 0
              col
              - len--;
          tbody
            tr
              th(colspan="1")
              each participantTime in participantTimes
                th #{participantTime}
            tr
              td(colspan="1")
              each count in participantCount
                td #{count}
    p
    p
    ac:structured-macro(ac:macro-id="7286c5c5-11d0-4291-9c02-201797b4ab22" ac:name="chart" ac:schema-version="1")
      ac:parameter(ac:name="legend") false
      ac:parameter(ac:name="rangeAxisTickUnit") 4
      ac:parameter(ac:name="width") 600
      ac:parameter(ac:name="title") Personal Best Distribution
      ac:parameter(ac:name="type") bar
      ac:parameter(ac:name="height") 400
      ac:rich-text-body
        table.wrapped
          colgroup
            - var len = personalBestCount.length;
            while len >= 0
              col
              - len--;
          tbody
            tr
              th(colspan="1")
              each score in scoreList
                th #{score}
            tr
              td(colspan="1")
              each count in personalBestCount
                td #{count}
ac:layout
ac:layout-section(ac:type="single")
  ac:layout-cell
    h1 个人参赛情况
    table.wrapped
      colgroup
        - len = 6
        while len >= 0
          col
          - len--;
      thead
        tr
          th.numberingColumn
          th 姓名
          th(style="text-align:center;") PB
          th(style="text-align:center;") 积分
          th(style="text-align:center;") 参赛次数
          th(style="text-align:center;") 夺冠次数
          th(style="text-align:center;") 排名变化
      tbody
         each player,index in playerList
            tr
              td.numberingColumb #{index + 1}
              td(style="text-align:center;") #{player.name}
              td(style="text-align:center;") #{player.personalBest}
              td(style="text-align:center;") #{player.points}
              td(style="text-align:center;") #{player.partcipantNum}
              td(style="text-align:center;") #{player.championNum || ''}
              td(style="text-align:center;") #{player.rankChange > 0 ? `${player.rankChange}↑` : player.rankChange < 0 ? `${-player.rankChange}↓` : '--' }
    - var step = 6
    - var start = 0
    - var curMonths = months.slice(0, step)
    - months = months.slice(step)
    while curMonths.length > 0
      table.wrapped
        colgroup
          - len = curMonths.length + 2
          while len >= 0
            col
            - len--;
        thead
          tr
            th.numberingColumn
            th 姓名
            each month in curMonths
              th(style="text-align:center;") #{month}
        tbody
           each player,index in playerList
              tr
                td.numberingColumb #{index + 1}
                td(style="text-align:center;") #{player.name}
                each month, offset in curMonths
                  td(style="text-align:center;") #{player.scoreList[start + offset] || ''}
      - curMonths = months.slice(0, step)
      - months = months.slice(step)
      - start += step

